:root {
  --background-white: white;
  --background-gray: lightgray;
  --red: #ee1212;
  --background-yellow: #fffa87;
  --transparent-green: #7fcb5b61;
  --green: #32840c;
  --transparent-red: #ee121240;
  --button-background: #d9d9d9;
  --gray: #808080;
  --black: #000;
}

body {
  font-family: "Inter", sans-serif;
  /* background-color: var(--background-gray); */
}
.product-card-body {
  /* border: 1px solid #000; */
  background-color: var(--background-white);
  width: 450px;
  position: relative;
}

.more-info {
  color: var(--gray);
  text-decoration: underline;
  margin-top: 5px;
  text-align: right;
  font-style: italic;
  margin-right: 5px;
  cursor: pointer;
}

.product-price {
  color: var(--red);
  background-color: var(--transparent-red);
  padding: 15px;
  margin: 4px;
  border-radius: 20px;
  font-weight: bold;
  border: 2px solid var(--red);
}

.price {
  font-size: 1.7rem;
}

.price-discount {
  font-size: 1rem;
  position: relative;
  top: 20px;
  right: 122px;
}

.buy-button {
  background-color: var(--button-background);
  border-radius: 20px;
  height: 65px;
  width: 120px;
  position: relative;
  left: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 3px solid var(--black);
  cursor: pointer;
}

.product-shipping {
  background-color: var(--transparent-green);
  color: var(--green);
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  position: relative;
  border: 2px solid var(--green);
}

.shipping {
  font-weight: bold;
  font-size: 0.9rem;
}

.shipping-info {
  position: relative;
  right: -95px;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.bestseller-label {
  width: 80px;
  text-align: center;
  padding: 5px;
  margin-left: 5px;
  font-weight: bold;
  background-color: var(--background-yellow);
  border-radius: 5px;
  box-shadow: #808080 0px 0px 5px;
  text-shadow: #fff 0px 0px 5px;
}

.award-label {
  position: absolute;
  color: #fff;
  text-shadow: #000 0px 0px 5px;
  right: 5px;
  top: 35px;
  font-size: 12px;
  padding: 10px 5px 0px 5px;
  width: 60px;
  height: 60px;
  text-align: center;
  font-weight: bold;
  background-color: var(--red);
  border-radius: 50%;
  box-shadow: #000 0px 0px 5px;
}

.product-image-container {
  height: 350px;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 1.2rem;
  padding: 0 10px 0 0;
  text-align: center;
}

.product-description {
  font-size: 0.8rem;
  margin-bottom: 0px;
  margin-left: 10px;
}
.similar-product-1 {
  display: inline-block;
  /* border: 2px solid rgba(0, 0, 0, 0.095); */
  margin: 5px;
  position: relative;
  width: 200px;
  height: 200px;
}

.similar-product-2 {
  display: inline-block;
  /* border: 2px solid rgba(0, 0, 0, 0.095); */
  margin: 5px;
  position: relative;
  width: 200px;
  height: 200px;
}

.similar-product-1:hover .overlay {
  opacity: 1;
}

.similar-product-2:hover .overlay {
  opacity: 1;
}

.overlay {
  background-color: var(--background-gray);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 60px;
  font-size: 0.8rem;
  cursor: pointer;
}
